.fishbtn-container {
  display: inline-block;
}
.fish {
  width: 4rem;
  margin: 1em;
}
#fishbtn {
  visibility: hidden;
  background-color: transparent;
  /* border-radius: 100%; */
  outline: none;
  border: none;
  cursor: pointer;
}
#fishbtn[fishy=true] {
  /* background-color: #F2F2F2; */
  visibility: visible;
}
.fishbtn-container:hover #fishbtn {
  visibility: visible;
}
#particles-js {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}