:root {
  /* --accent-light: #2a92f1;
  --accent-dark: #2e7eb8; */
  --accent-light: #31AEB5;
  --accent-dark: #23848A;
  --light-grey: #EEEEEE;
  --medium-grey: #AAAAAA;
  --dark-grey: #888888;
  --body-width: 50rem;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  max-width: var(--body-width);
  line-height: 1.31415;
  margin: auto;
  font-size: 100%;
  padding: 0 2rem 2rem 2rem;
}
.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: #ddffff; */
}
.sidebar {
  /* position:fixed; */
  margin-top: 9.5rem;
  max-width: 10rem;
  overflow-wrap: break-word;
  margin-right: 2em;
}
#TableOfContents ul li {
  list-style-type: none; /* Remove bullets */
  margin-bottom: 1em;
  /* background-color: blue; */
}



header {
  position: sticky;
  top: 0;
  background-color: white;
}
.namebox {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 0.1em solid var(--medium-grey);
}

.noggin {
  display: block;
  height: 6em;
  aspect-ratio: 1;
}
.noggin > img {
  max-height: 100%;
  max-width: 100%;
  /* border-radius: 2em; */
}
.bcard {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-left: 1em;
  width: fit-content;
}

.myname {
  display: block;
  /* background-color: #ddffff; */
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3rem;
  font-weight: 200;
}
.mylinks {
  display: flex;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  justify-content: space-between;
}
.mylinks a {
  color: var(--dark-grey);
}
#myemailicon {
  display: none;
}
#cv-link {
  /* border: 0.15em solid var(--accent-light); */
  background-color: var(--dark-grey);
  color: white;
  padding: 0 0.3em 0 0.3em;
  border-radius: 0.2em;
  font-weight: 600;
}
#cv-link:hover {
  background-color: var(--accent-dark);
}
a {
  /* font-weight: 600; */
  color: var(--accent-light);
  text-decoration: none;
  /* animation-duration: 0.2s;
  transition: 0.2s; */
}
a:hover {
  color: var(--accent-dark);
}

p {
  font-size: 0.9rem;
}


h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  margin-top: 0.5em;
  clear: left;
}
h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 0.5em;
}
h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 1em;
  margin-top: 1.5em;
}
p {
  padding: none;
  margin-top: 0.5em;
  text-align: justify;
}

b {
  font-weight: bold;
}


@media (max-width: 40rem) {
  .noggin {
    height: 4em
  }
  .myname {
    font-size: 2.2em;
  }
  #myemailicon {
    display: inline-block;
  }
  #myemail {
    display:none;
  }
}





a.button {
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: var(--accent-light);
  border: 2px solid var(--accent-light);
  border-radius: 5px;
  padding: 0.8em 0.9em;
  margin: 0.8em 0.8em 0.8em 0em;
  /* padding: 14px 16px; */
  /* margin: 20px 20px 20px 0px; */
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  /* font-weight: normal; */

}
a.button:hover {
  background-color: var(--accent-light);
  color: white;
}


ul {
  margin-top: 0.5em;
  line-height: 150%;
  padding-left: 20px;
}
ol {
  /* padding-left: 10px; */
  padding-left:5px;
  margin-left:0px;
  line-height: 150%;
  counter-reset: item -1;
  /* font-size: 12px; */
}
ol > li {
  display: block;
}
ol > li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}
ol > li {
  font-weight: bold;
}
ol > li > ol > li {
    font-weight: normal;
    margin-left: 20px;
}


img {
  display: block;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-radius: 0.5em;
}
img.inline {
  margin: 25px auto 25px auto;
  max-width: 100%;
  max-height: 75vh;
}
img.right {
  max-width: 300px;
  max-height: 320px;
  float: right;
  margin: 0px 0px 25px 25px;
}
img.left {
  max-width: 300px;
  max-height: 320px;
  float: left;
  margin: 0px 25px 25px 0px;
}
img.display {
  max-width: 100%;
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 25px; */
}
img.display-half {
  display: inline-block;
  max-width: 47%;
  max-height: 50vh;
  margin: 25px 0px 25px 0px;
  margin: 1%;
}
img.display-full {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
td {
  padding: 0px 10px 0px 10px;
}

.caption {
  color: var(--dark-grey);
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--dark-grey);
  margin-bottom: 10em;
}
.supercaption {
  color: var(--dark-grey);
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--dark-grey);
  margin-top: 8em;
  margin-bottom: 2em;
}


.wrapper {
  width: 100%;
  height: 178%;
  margin: 0 auto;
  margin: 25px 0px 25px 0px;
}
.h_iframe {
  position: relative;
}
.h_iframe .ratio {
  display: block;
  width: 100%;
  height: auto;
}
.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

pre {
  margin-top: 0.5em;
  border-radius: 5px;
  background-color: #f3f3f3;
  padding: 1em;
  overflow: scroll;
}
pre:first-line {
    line-height: 0px;
}
/* code.language-todo { */
/*   color: var(--happy-red); */
/*   font-weight: bold; */
/* } */
/* code.language-todo:before { */
/*   content: "TODO: " */
/* } */


footer {
  display: block;
  position: sticky;
  color: var(--medium-grey);
  padding: 50px 0px 50px 0px;
  text-align: center;
  line-height: 150%;
  clear: both;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}




/* Prevent superscripts from affecting line height */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
