:root {
  --accent-light: #31AEB5;
  --accent-dark: #23848A;
  --light-grey: #EEEEEE;
  --medium-grey: #AAAAAA;
  --dark-grey: #888888;
  --body-width: 50rem;
  /* scrollbar-color: var(--accent-light) var(--light-grey); */
}

* {
  padding: 0;
  margin: 0;
  scrollbar-color: var(--accent-dark) ;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  max-width: var(--body-width);
  margin: auto;
  font-size: 100%;
  padding: 0 2rem 2rem 2rem;
}

main {
  padding-bottom: 10rem;
}
.main-container {
  display: flex;
  justify-content: flex-start;
}

.sidebar {
  position: sticky;
  top: 10.25rem;
  align-self: flex-start;
  margin-right: 1.5rem;
  text-align: right;
  font-size: 0.9rem;
  color: var(--dark-grey);
  font-weight: 600;
  white-space: nowrap;
}
#TableOfContents ul {
  padding-inline-start: 0em;
}
#TableOfContents ul li {
  list-style-type: none;
  margin-bottom: 1rem;
  line-height: 1.2;
}
#TableOfContents ul li > ul > li {
  font-size: 0.75rem;
  margin-bottom: 0;
}
#TableOfContents ul li a {
  color: var(--dark-grey);
}
#TableOfContents ul li a:hover {
  color: var(--accent-dark);
}


header {
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid var(--medium-grey);
}
.fishtank {
  display: flex;
  justify-content: space-between;
}
.namebox {
  display: flex;
}
.noggin {
  display: block;
  height: 6rem;
  aspect-ratio: 1;
}
.noggin > img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 100%;
}
.bcard {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: fit-content;
}
.myname {
  display: block;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3rem;
  font-weight: 200;
}
.myname a {
  color: black;
  text-decoration: none;
}
.mylinks {
  display: flex;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  justify-content: space-between;
}
.mylinks a {
  color: var(--dark-grey);
}
#myemailicon {
  display: none;
}
#cv-link {
  /* border: 0.15em solid var(--accent-light); */
  background-color: var(--dark-grey);
  color: white;
  padding: 0 0.3rem 0 0.3rem;
  border-radius: 0.2rem;
  font-weight: 600;
}
#cv-link:hover {
  background-color: var(--accent-dark);
}


a {
  color: var(--accent-light);
  text-decoration: none;
}
a:hover {
  color: var(--accent-dark);
}
p {
  font-size: 0.9rem;
  margin-bottom: 0.9rem;
}
h1, h2, h3 {
  scroll-margin-top: 9rem;
}
h1 {
  font-family: sans-serif, 'Nunito Sans';
  font-weight: 200;
  font-size: 2rem;
  margin-top: 2.5rem;
  clear: left;
  border-bottom: 0.1rem solid var(--medium-grey);
}
h2 {
  font-family: sans-serif, 'Nunito Sans';
  font-weight: normal;
  font-size: 1.35rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-family: sans-serif, 'Open Sans';
  font-weight: 600;
  font-size: 0.9rem;
  margin-top: 1rem;
}
p {
  font-size: 0.8rem;
  text-align: justify;
  margin: 0.25rem 0 0.75rem 0;
  /* margin-bottom: 0.25rem; */
  line-height: 1.5;
}

a.button {
  background-color: var(--accent-light);
  color: white;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  outline: none;
  border-radius: 0.3rem;
  padding: 0.2rem 0.4rem;
  margin: 0 0.25rem 0.5rem 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
a.button:hover {
  background-color: var(--accent-dark);
}



/* ul {
  margin-top: 0.5rem;
  line-height: 150%;
  padding-left: 20px;
}
ol {
  padding-left:5px;
  margin-left:0px;
  line-height: 150%;
  counter-reset: item -1;
}
ol > li {
  display: block;
}
ol > li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}
ol > li {
  font-weight: bold;
}
ol > li > ol > li {
    font-weight: normal;
    margin-left: 20px;
} */


img {
  display: block;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
img.inline {
  margin: 0.5em auto 0.5em auto;
  max-width: 100%;
  max-height: 75vh;
}
img.right {
  max-width: 30rem;
  max-height: 30rem;
  float: right;
  margin: 0 0 0 1.5rem;
}
img.left {
  max-width: 30rem;
  max-height: 30rem;
  float: left;
  margin: 0 1.5em 0 0;
}
img.display {
  max-width: 100%;
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
}

.award {
  margin: 0.5rem 0 0.75rem 0;
  margin-left: 1.5rem;
  font-size: 0.8rem;
}
.award-date {
  text-align: right;
  margin-left: 1rem;
}
.award-flex {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.caption {
  color: var(--dark-grey);
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--dark-grey);
  margin-bottom: 10rem;
}
.supercaption {
  color: var(--dark-grey);
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--dark-grey);
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.wrapper {
  width: 100%;
  height: 178%;
  margin: 0 auto;
  margin: 25px 0px 25px 0px;
}
.h_iframe {
  position: relative;
}
.h_iframe .ratio {
  display: block;
  width: 100%;
  height: auto;
}
.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

pre {
  margin-top: 0.5em;
  border-radius: 5px;
  background-color: #f3f3f3;
  padding: 1em;
  overflow: scroll;
}
pre:first-line {
    line-height: 0px;
}
/* code.language-todo { */
/*   color: var(--happy-red); */
/*   font-weight: bold; */
/* } */
/* code.language-todo:before { */
/*   content: "TODO: " */
/* } */


footer {
  display: block;
  font-size: 0.8rem;
  color: var(--dark-grey);
  padding: 50px 0px 50px 0px;
  text-align: center;
}


/* Prevent superscripts from affecting line height */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}




@media (max-width: 41rem) {
  .noggin {
    height: 4em
  }
  .myname {
    font-size: 2.2em;
  }
  .mylinks {
    font-size: 0.9em;
  }
  #myemailicon {
    display: inline-block;
  }
  #myemail {
    display:none;
  }
  .sidebar {
    display: none;
  }
  .fishbtn-container {
    display: none !important;
  }
  img.right, img.left {
    max-width: 100%;
    max-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    float: none;
  }
  p {
    /* font-size: 0.9rem; */
    text-align: left;
  }
  a.button {
    font-size: 0.9rem;
  }
}