{{ define "main" }}

		<div class="main-container">
			{{ partial "sidebar" . }}
			<main>
				{{ partial "header" . }}
				{{ .Content }}
			</main>
		</div>
		
		<!-- <link rel="stylesheet" href="{{ "css/fish.css" | relURL }}">
		<div id="particles-js"></div>
		<script src="/js/particles.min.js"></script>
		<script src="/js/fish.js"></script>

		<div class="fishbtn-container">
			<button fishy=false id='fishbtn' onclick="toggleFish()"><img src="/img/fish.png" class='fish' draggable="false"></button>
		</div>
 -->

{{ end }}

