<header>
	<div class="namebox">
		<div class="noggin">
			<img src="/img/noggin.svg"/>
		</div>
		<div class="bcard">
			<div>
				<div class="myname">Parker Ruth</div>

				<div class="mylinks">

					<a href="mailto:paru@stanford.edu">
						<i id="myemailicon" class="fa fa-envelope fa-lg"></i>
						<span id="myemail"> paru@stanford.edu</span>
						</a>

					<a target="_blank" href="http://linkedin.com/in/parkersruth">
						<i class="fab fa-linkedin fa-lg icon"></i>
					</a>

					<a target="_blank" href="https://scholar.google.com/citations?user=a_ZJHvgAAAAJ">
						<i class="fas fa-graduation-cap fa-lg icon"></i>
					</a>

					<a id="cv-link" href="docs/Parker_Ruth_CV.pdf" target="_blank">
						CV
					</a>
				</div>
				
			</div>
		</div>
	</div>
</header>
